.help {
    margin: auto;
    max-width: 140rem;
    margin-top: 4rem;
}

.description {
    margin-bottom: 4rem;
}

.description h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.description p {
    font-size: 1.2rem;
    text-align: center;
}
