.prompt {
    max-width: 50rem;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    margin-top: 6rem;
    position: relative;
    background-color: #fff;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prompt p {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
}

@media (max-width: 26.9em) {
    .prompt p {
        font-size: 1.6rem;
    }
}
